html {
  scroll-behavior: smooth;
}
body {
  display: grid;
  grid-template-areas: "nav doc"
                       "nav doc";
  grid-template-columns: 15vw auto;
  margin: 0;
  overflow-x: hidden;
}
#navbar {
  background-color: #0005;
  grid-areas: nav;
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  position: sticky;
  top: 0;
  text-align: center;
}
#nav-links {
  width: 100%;
}
#nav-links td {
  background-color: transparent;
  margin: 0;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
#nav-links td:hover {
  background-color: #0005;
}
.nav-link {
  color: #000;
  text-decoration: none;
}


#main-doc {
  grid-areas: doc;
  padding: 20px;
}
header {
  text-align: center;
}
p {
  text-indent: 2em;
}
.exampleRslt {
  background-color: #0003;
  border-left: solid 10px #013220;
  padding: 15px;
  overflow-x: scroll;
  max-width: 79vw;
  white-space: nowrap;
}
.exampleCode {
  background-color: #000;
  color: #0f0;
  padding: 10px;
  overflow: scroll;
  white-space: nowrap;
}
